<!DOCTYPE html>
<html>
<head><title>{{data.title}}</title>
<link type="text/css" rel="stylesheet" href="css/style.css" />	
</head>

<body>

<div class="account">
{% if data.user %}
<a href="/logout">Logout</a>

{% else %}
<a href="/login">Login</a>
<a href="/register">Register</a>
<fb:login-button scope="public_profile,email" onlogin="Auth.fbUserLogin();">
</fb:login-button>
{% endif %}
</div>
	
<ul>
	
	<li><a href="/users">Users</a></li>
	<li><a href="/keys">Keys</a></li>
	<li><a href="/products">Products</a></li>
	<div class="cls"></div>	
</ul>
<div class="cls"></div>	

<p>{{data.text}}</p>


{% if data.user %}
	<p>{{data.user}}</p>
{% endif %}


	
<script src="js/ajax.js"></script>
<script src="js/auth.js"></script>
<script src="js/index.js"></script>
</body>

</html>
