<!DOCTYPE html>
<html>
<head><title>{{data.title}}</title></head>

<body>

{% if data.user %}
<a href="/logout">Logout</a>
<!--<button id="logout">Logout</button>-->
{% else %}
<a href="/login">Login</a>
<a href="/register">Register</a>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

{% endif %}

<a href="/users">Users</a>
<a href="/keys">Keys</a>
<a href="/products">Products</a>


<p>{{data.text}}</p>
<div id="status">
</div>

{% if data.user %}
	<p>{{data.user}}</p>
{% endif %}



<script src="js/ajax.js"></script>
<script src="js/fbapi.js"></script>
<script src="js/auth.js"></script>
</body>

</html>
